
body{
    margin: auto;
    max-width: 1500px;
    overflow-x: hidden;
}
/* main{
    max-width: 1500px;
    margin: 0px;
} */

header{
  
    height: 83.59620666503906px;
    width: 1530px;
    margin-left: -10px;
border-radius: 0px;
top: 0%;
bottom: 98.4%;
background: #181E4E;
}


.top
{
    
        display: flex;
        width: 1300px;
        margin-left: 100px;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 10px;
    }
.sign{
    width: 211px;
height: 40px;
left: 1244px;
top: 49px;
padding-left: 40px;
cursor: pointer;
}
.opt{
    left: 0%;
    right: 0%;
    top: 1.6%;
    bottom: 97.2%;
    background: #FFFFFF;
    height: 62.65461730957031px;
    width: 1526px;
    left: 0px;
    top: 83.53955078125px;
    border-radius: 0px;
    cursor: pointer;
    font-family: Montserrat;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    
    color: #181E4E;
    

   
}
.optb{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2.78%;
    bottom: 97.2%;
    
    background: #000000;
    opacity: 0.1;
    height: 1.056365966796875px;
    width: 1528px;
left: 0px;
top: 145.14990234375px;
border-radius: 0px;

}

    ul {
        display: flex;
        gap: -61px;
        padding: 0px;
        list-style: none;
        margin-left: 30px;
        width: 1438px;
        align-content: space-around;
        justify-content: space-evenly;

      

    }
    .about{
  margin-top: 50px;
margin-left: 142px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
/* or 21px */

letter-spacing: 7px;
text-transform: uppercase;

color: #0066BA;

    }
    .mid {
        width: 673px;
        height: 67.71px;
        left: 142px;
        top: 219.9px;
        margin-top: 0px;
        margin-left: 142px;
        font-family: 'Lato';
        font-style: normal;
        padding: 0px;
        font-weight: 800;
        font-size: 56px;
        line-height: 4%;
        color: #181E4E;
    }
    .tx{
        width: 1300px;
        /* height: 94.61px; */
        margin-left: 142px;
        margin-top: -45.61px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;
        color: #000000;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 1100px;
        gap: 20px;
        margin-left: 235px;
        margin-top: 70px;
    }
    .row1{
    gap: 20px;
    display: grid;
    justify-content: center;
}
    .item1 {
        grid-column: 1;
        grid-row: 1;
      }
      
      .item2 {
        grid-column: 2;
        grid-row:1;
      }
      
      .item3 {
        grid-column: 3;
        grid-row: 1;}
        .mid2{
            display: flex;
            
        }
        .item4{
            width: 707px;
height: 340px;

background: #6D6388;
        }
    .item12{
        width: 707px;
height: 340px;

background: #4B587C;
    }
    /* .ls{
            display: flex;
            flex-direction: column;
            width: auto;
            
        }
      .ls li{
       
            border-bottom: 1px solid black;
            width: 400px;
            width: 360px;
            -webkit-text-stroke: thick;
            font-family: 'DM Sans';
            margin-top: -14px;
            margin-left: -7px;
            font-size: 28px;
            color: #171717;
        }
        .rec{
            box-sizing: border-box;


width: 12px;
height: 60px;

background: #DFE0E4;
border: 1px solid #000000;
        }
        .ls p{
            margin-top: 10px;
            margin-left: 60px;

        } */
        .mid2{
            display: flex;
            width: 1430px;
                padding: 50px;
                justify-content: center;
                gap: 30px;
            
        }
        .item1 h4 {
            position: absolute;
            width: 275px;
            padding-left: 25px;
            margin-top: 190px;
            height: 72px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;
        }

        .item1 p {
            position: absolute;
            width: 275px;
            margin-top: 280px;
            padding-left: 29px;
            height: 21px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
        }
        .item3 h4 {
            position: absolute;
            width: 275px;
            padding-left: 25px;
            margin-top: 190px;
            height: 72px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;
        }

        .item3 p {
            position: absolute;
            width: 275px;
            margin-top: 280px;
            padding-left: 29px;
            height: 21px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
        }
        .item4 h4{
           
            padding-left: 25px;
            margin-top: 71px;
            position: absolute;
width: 631px;
height: 108px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #FFFFFF;
        }
    .item4 h6{
        margin-top: 210px;
        padding-left: 29px;
        position: absolute;
        width: 133px;
        height: 33px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
       
        opacity: 0.8;
        color: #FFFFFF;


color: #FFFFFF;
    }
    .item4 p{
            margin-top: 250px;
            padding-left: 29px;
            position: absolute;
            width: 158px;
            height: 27px;
            
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            /* identical to box height, or 27px */
            
            
            color: #FFFFFF;
            
            opacity: 0.8;
    }
    .item5 h4{
        position: absolute;
            width: 275px;
            padding-left: 25px;
            margin-top: 150px;
            height: 72px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;

    }
    .item5 p{
        position: absolute;
            width: 275px;
            margin-top: 280px;
            padding-left: 29px;
            height: 21px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;

    }
    .item6 h4{
        position: absolute;
            width: 275px;
            padding-left: 25px;
            margin-top: 190px;
            height: 72px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;

    }
    .item6 p{
        position: absolute;
            width: 275px;
            margin-top: 280px;
            padding-left: 29px;
            height: 21px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;

    }
    .item7 h4{
        position: absolute;
width: 432px;
height: 108px;
margin-top: 71px;
padding-left: 38px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #FFFFFF;


    }
    .item7 h6{position: absolute;
        width: 133px;
        height: 33px;
        margin-top: 200px;
        padding-left: 38px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        /* identical to box height, or 33px */
        
        
        color: #FFFFFF;
        
        

    }
    .item7 p{
        position: absolute;
width: 158px;
height: 27px;
margin-top: 240px;
padding-left: 38px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #FFFFFF;


    }
    .item8 h6{
        position: absolute;
width: 113px;
height: 27px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */
padding-left: 30px;
margin-top: 30px;

color: #FFFFFF;

opacity: 0.8;
    }
    .item8 h4{
        position: absolute;
width: 275px;
height: 99px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 150%;
margin-top: 71px;
padding-left: 30px;
/* or 33px */


color: #FFFFFF;

    }
    .item8 p{
        position: absolute;
        width: 275px;
        margin-top: 280px;
        padding-left: 29px;
        height: 21px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;

    }
    .item9 h6{
        position: absolute;
        width: 275px;
    height: 99px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */
        padding-left: 30px;
        margin-top: 30px;
        
        color: #FFFFFF;
        
        opacity: 0.8;

    }
    .item9 p{
        position: absolute;
        width: 275px;
        margin-top: 280px;
        padding-left: 29px;
        height: 21px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;}
        .item9 h4{
            position: absolute;
    width: 275px;
    height: 99px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    margin-top: 71px;
    padding-left: 30px;
    /* or 33px */
    
    
    color: #FFFFFF;
    
        }.item9 h6{
            position: absolute;
            width: 275px;
        height: 99px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            /* identical to box height, or 27px */
            padding-left: 30px;
            margin-top: 30px;
            
            color: #FFFFFF;
            
            opacity: 0.8;
    
        }
        .item10 p{
            position: absolute;
            width: 275px;
            margin-top: 280px;
            padding-left: 29px;
            height: 21px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;}
            .item10 h4{
                position: absolute;
        width: 275px;
        height: 99px;
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        margin-top: 71px;
        padding-left: 30px;
        /* or 33px */
        
        
        color: #FFFFFF;
        
            }
            .item11 h4 {
                position: absolute;
                width: 285px;
                padding-left: 25px;
                margin-top: 170px;
                height: 72px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 150%;
                color: #FFFFFF;
            }
    
            .item11 p {
                position: absolute;
                width: 275px;
                margin-top: 280px;
                padding-left: 29px;
                height: 21px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
            }
            .item12 h4{
           
                padding-left: 25px;
                margin-top: 71px;
                position: absolute;
    width: 631px;
    height: 108px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    
    
    color: #FFFFFF;
            }
        .item12 h6{
            margin-top: 210px;
            padding-left: 29px;
            position: absolute;
            width: 133px;
            height: 33px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
           
            opacity: 0.8;
            color: #ffffff;
        }
        .item12 p{
                margin-top: 250px;
                padding-left: 29px;
                position: absolute;
                width: 158px;
                height: 27px;
                
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                /* identical to box height, or 27px */
                
                
                color: #ffffff;
                
                opacity: 0.8;
        }
    .bt{
        /* position: absolute;
width: 1440px; */
height: auto;
left: -6.5px;
top: 3212px;
width: 1530px;
background: #F5F5F5;
    }
    .bt{
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
    }
    .bt p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        
        /* display: flex;
        align-items: center; */
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #0066BA;
        /* flex-direction: column */
    }
    .bt h1{
        height: 20.82px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        /* display: flex; */
        text-align: center;
        color: #1B1D28;
        /* flex-direction: column */
        margin: 8px 0px;

    }
    .bt h6{
        /* position: absolute; */
width: 667px;
height: 20.82px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;


text-align: center;

color: #666666;

    }
    .data{
        display: grid;
        grid-template-columns: auto  auto;
        gap: 30px;
        margin-top: 50px;
    }
   
    .par{
        box-sizing: border-box;

margin-top: 20px;
width: 569px;
height: 70.78px;

background: #FFFFFF;
border: 1px solid #D6D6D6;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
    
    .buton{
        width: 119px;
height: 11.45px;

font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 167%;
margin-top: 30px;
text-align: center;
text-transform: uppercase;

color: #000000;
width: 258px;
height: 41.4px;

background: #FFC145;
    }
    .but{
        width: 150px;
        height: 30px;
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        
        color: #FFFFFF;
        

       

background: #181E4E;
    }
    input{
       
background: #ffffff;
box-sizing: border-box;
padding: 10px;

width: 270px;
height: 46px;

border: 1px solid #D6D6D6;
    }
    .inp{
        width: 215px;
        height: 32px;
    }
    .par{
        display: flex;
    }
    
        .top1 p {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            display: flex;
            letter-spacing: 2px;
            color: #0066BA;
            margin: 40px;
            justify-content: space-evenly;
        }
  .top1 h1{
    
width: 907px;
height: 42px;
margin-left: 280px;
margin-top: -25px;
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 130%;
/* identical to box height, or 42px */

text-align: center;
text-transform: capitalize;

color: #0D0D0D;
  }
  .team{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;
  }
  .josh{
    display: flex;
   flex-direction: column;        
width: 106px;
height: 172px;
left: 1100px;
top: 3705.94px;
  }
  .josh h2{
    width: 115px;
height: 19px;
left: 309px;
top: 3858.94px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160%;
/* or 19px */


color: #666666;

  }
  .josh h6{
    width: 141px;
height: 22px;
left: 309px;
top: 3810.94px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;
margin: 2px;


color: #0D0D0D;

  }
.t {
    /* position: absolute; */
    /* width: 107px; */
    /* height: 20px;
    left: 321px;
    top: 3905px;
     */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #0066BA;
}
.t{

    box-sizing: border-box;

    /* position: absolute; */
    width: 145px;
    height: 32px;
    left: 309px;
    top: 3899px;
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid #0066BA;}
    
/* 2nd */


    .melisa{
        display: flex;
        flex-direction: column;        
     width: 106px;
     height: 172px;
     left: 1100px;
     top: 3705.94px;
      }
      .melisa h2{
        width: 115px;
    height: 19px;
    left: 309px;
    top: 3858.94px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    
    
    color: #666666;
    
      }
      .melisa h6{
        width: 141px;
    height: 22px;
    left: 309px;
    top: 3810.94px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    margin: 2px;
    
    
    color: #0D0D0D;
    
      }
 
        
        /* 3rd */
        .digio{
            display: flex;
            flex-direction: column;        
         width: 106px;
         height: 172px;
         left: 1100px;
         top: 3705.94px;
          }
          .digio h2{
            width: 115px;
        height: 19px;
        left: 309px;
        top: 3858.94px;
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        /* or 19px */
        
        
        color: #666666;
        
          }
          .digio h6{
            width: 141px;
        height: 22px;
        left: 309px;
        top: 3810.94px;
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        margin: 2px;
        
        
        color: #0D0D0D;
        
          }
          .book{
            margin-top: 100px;
            width: 1300px;
            height: 500px;
            
            margin-left: 140px;
            top: 3970px;
            display: flex;
            background: #181E4E;
          }
          .book h1{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 69px;
            margin: 0px;
            padding: 70px 0px 0px 70px;
            color: #FFFFFF;

          }
.book h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    margin: 0px;
    padding-left: 70px;
    font-size: 69px;


    color: #FFC145;

}
.book p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    width: 700px;
    line-height: 34px;
    padding: 0px 0px 0px 70px;
    color: #ffffff;
}
.book img{
   width: 530px;
            height: 520px;
}
.bok{
   
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 170%;
/* or 27px */

text-align: center;
text-transform: uppercase;

color: #000000;
 
    margin-left: 70px;
   
    
    width: 220px;
height: 56px;
left: 152px;
background: #FFC145;
}
.brand{
    display: flex;
    gap: 80px;
    padding: 20px;
    margin-left: 75px;
    justify-content: center;
    margin-top: 20px;
}
     .brandlogo{
        display: flex;
        gap: 50px;
        align-items: center;
     }
     /* .brandlogo :hover{
        color: red;
        
     } */
     .brand p{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;


text-transform: uppercase;

color: #000000;
     }
     .mask{
      
        margin-left: 650px;
        width: 239.04px;
        height: 72.16px;
        left: 607.74px;


     }
     .offer{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
     }
     .do h1{
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .seo p{
        cursor: pointer;
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }

     .company h1{
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .company p{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }
     .news h1{
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .news p{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }

     .car h1{
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .car p{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }

     .cont h1{
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .cont p{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }

     .blog h1{
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .blog p{
        width: 188px;
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }

     .latest h1{
        width: 188px;
        font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-transform: uppercase;

color: #181E4E;
     }
     .latest p{
        width: 200px;
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
/* or 28px */


color: #181E4E;
     }
     .enter{
        width: 150px;
    height: 28px;
    left: 1077px;
    top: 4978.28px;
    display: flex;
    margin-top: 10px;
    background: #E7E8F3;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    color: #181E4E;
    align-items: center;
    justify-content: center;
     }
     .enter input{
        box-sizing: border-box;

position: absolute;
width: 180px;
height: 26px;
left: 1077px;
top: 4943.28px;

background: #FFFFFF;
border: 1px solid #D1D1D1;
     }
     .language{
        display: flex;
        align-items: center;
        gap: 10px;

     }
     .language img{
        width: 13px;
height: 13px;
left: 1077px;
top: 5014.28px;
     }
     .language p{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 17px;
text-transform: capitalize;
color: #D6D6D6;
     }
     .firstbottom{
        width: 1440px;
        height: 98px;
        gap: 10px;
        display: flex;
        background: #F8F8FF;
        justify-content: center;
        align-items: center;
     }
     .firstbottom p{

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 27px;
line-height: 150%;
/* or 40px */
margin: 0px;
display: flex;
align-items: center;

color: #181E4E;
     }
     .firstbottom h1{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
margin: 0px;
/* or 18px */

/* display: flex; */
align-items: center;

color: #181E4E;
     }
     .firstbottom h3{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 150%;
/* identical to box height, or 75px */

display: flex;
align-items: center;

color: #181E4E;
     }
     .second{
        font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

color: #000000;
     }